chesscalc
chessql
chessresults
chesssubmit
chesstab
chesstabular
chessvalidate
ecfformat
emailextract
emailstore
pgn_read
solentware_base
solentware_bind
solentware_grid
solentware_misc
uci_net
.venv
